@media (max-width: 768px){
.Navbar {
    
width:100%;
height: 154px;
left: 0px;
top: 0px;

background: #f7feac
}
/* .Backbutton {
    justify-content: flex-start;
    display:flex;
} */
.Upperbutt{
 display:flex;
 justify-content: space-between;
 padding: 10px;
}
.Nextstyle{
display:flex;
 justify-content:flex-end;
 /* margin-top: 35px;
 margin-right: 5px; */
 padding:10px;
}

.namePrice{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    /* padding:10px; */

    color: black;
    font-size: 30px;
}
.name {
    font-family: 'Lobster', cursive;
    font-size: 45px;
 }
 .price {
     margin-top: 10px;
 }




}